.startPoint {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 100px;
  bottom: 100px;
  z-index: 8989;
  background: black;
  border: none;
  outline: none;
  cursor: pointer;
}

/* main_section01 */

#flag {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999999999;
  pointer-events: none;
}

/*#flag > div {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    background: #fff;*/
/*    border-radius: 50px;*/
/*    mix-blend-mode: difference;*/
/*}*/

#intro {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  background: black;
  /*display: none;*/
  transition: all 1s;
}
#intro.on {
  transition-delay: 3.5s;
  background-color: transparent;
}

#intro.off {
  transition: transform 1.5s, opacity 1s 1.5s, z-index 0.5s 2s;
  transform: scale(7);
  opacity: 0;
  z-index: -1;
}

#intro .group1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro .group1 > div {
  transition: all 1s 3s;
  opacity: 0;
  transform: translateY(50px);
}

#intro .group1 .text01 {
  padding-top: 295px;
  padding-bottom: 360px;
}

#intro .group1 .text02 {
  padding-bottom: 45px;
  transition-delay: 3.5s;
}

#intro .group1 .intro_btn {
  transition-delay: 3.8s;
  cursor: pointer;
}

#intro.on .group1 > div {
  opacity: 1;
  transform: translateY(0);
}

#intro .box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -47%);
  width: 460px;
}

#intro .box .intro_box {
  stroke-dashoffset: 1469;
  stroke-dasharray: 1469;
}

#intro.on .box .intro_box {
  animation: intro 2s 1 forwards 1.5s;
}

@keyframes intro {
  100% {
    stroke-dashoffset: 0;
  }
}

#intro .line01 {
  position: absolute;
  width: 700px;
  left: 55.5px;
  top: -69px;
}

#intro #line01 #line {
  stroke-dasharray: 759;
  stroke-dashoffset: 759;
}

#intro.on #line01 #line {
  animation: intro 2s 1 forwards 0s;
}

#intro .line02 {
  position: absolute;
  width: 700px;
  right: 55px;
  top: -69px;
}

#intro #line02 #line {
  stroke-dasharray: 759;
  stroke-dashoffset: 759;
}

#intro.on #line02 #line {
  animation: intro 2s 1 forwards 0.4s;
}

#intro .line03 {
  position: absolute;
  left: 40px;
  bottom: -77px;
  width: 700px;
}

#intro #line03 #line {
  stroke-dasharray: 759;
  stroke-dashoffset: 759;
}

#intro.on #line03 #line {
  animation: intro 2s 1 forwards 1.3s;
}

#intro .line04 {
  position: absolute;
  right: 31px;
  bottom: -73px;
  width: 700px;
}

#intro #line04 #line {
  stroke-dasharray: 759;
  stroke-dashoffset: 759;
}

#intro.on #line04 #line {
  animation: intro 2s 1 forwards 0.8s;
}

#intro .bg {
  position: absolute;
  left: 0;
  top: -8px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#header_top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 95px;
  background: black;
  z-index: 9999999999;
  border-bottom: 1px solid #ccd0d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s;
  transform: translateY(-100%);
}

#header_top.on {
  transform: translateY(0);
}

#header_top .h_icon1 {
  border-right: 1px solid #d2def1;
}

#header_top .h_icon2 {
  border-left: 1px solid #d2def1;
}

.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 95px;
  z-index: 99990999999;

  border-top: 1px solid #ccd0d8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: all 1s;
  transform: translateY(100%);
}

.bottom.on {
  transform: translateY(0);
}

.bottom .h_icon3 {
  position: absolute;
  right: 0;
  bottom: 0;
  border-left: 1px solid #d2def1;
}

.bottom .h_icon04 {
  position: absolute;
  height: 94px;
  width: 94px;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d2def1;
}

.menu_left {
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 94px;
  height: 100vh;
  z-index: 999999999;

  border-right: 1px solid #ccd0d8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  transform: translateX(-100%);
  cursor: pointer;
}
.menu_left.on {
  transform: translateX(0);
}

.menu_right {
  position: fixed;
  right: 0;
  top: 0;
  width: 94px;
  height: 100vh;
  z-index: 999999999;

  border-left: 1px solid #ccd0d8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  transition: all 1s;
  transform: translateX(100%);
}

.menu_right.on {
  transform: translateX(0);
}

.menu_right .inner {
  position: relative;
  height: 785px;
  width: 95px;
}

.menu_right .inner .bg {
  background: #000;
  height: 785px;
  width: 95px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
}

.menu_right .sequence > li {
  height: 60px;
  flex: 1;
  position: relative;
  cursor: pointer;
  top: 190px;
  left: 36px;
}

.menu_right .sequence > li > div:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 1s;
}

.menu_right .sequence > li.on > div:nth-child(2) {
  opacity: 1;
}

.menu_right .sequence > li:nth-child(1) {
  transform: rotateX(0.5turn);
}

.menu_right .sequence > li:nth-child(2) {
  transform: rotateX(0.5turn);
}

.menu_right .sequence > li:nth-child(3) {
  transform: rotateX(0.5turn);
  margin-bottom: 30px;
}

#mega {
  width: 1728px;
  height: 790px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  opacity: 0;
  z-index: -1;
  transition: all 1s;
}

#mega.on {
  opacity: 1;
  z-index: 99999999;
}

#mega .inner {
  display: flex;
  padding-top: 135px;
  padding-left: 300px;
}

#mega .inner .menu {
  padding-right: 160px;
}

#mega .inner .group01 > li {
  margin-bottom: 53px;
  padding-right: 180px;
  cursor: pointer;
}

#mega .inner .group02 {
  padding-top: 155px;
}

#mega .inner .group02 > li {
  margin-bottom: 70px;
}

#mega .xx {
  position: absolute;
  right: 100px;
  top: 80px;
  scale: 80%;
  cursor: pointer;
}

#mega .cursor_circle {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  mix-blend-mode: difference;
  position: fixed;
  left: 500px;
  top: 500px;
  z-index: 999999999999;
  pointer-events: none;
}

#main_section01 {
  position: relative;
  background: black;
  width: 1920px;
  height: 9000vh;
}

#main_section01 .trigger-this-01 {
  height: 100%;
}

#main_section01 .fix-this-01 {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#w_section01 {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#w_section01 .inner {
  width: 1732px;
  height: 790px;
  margin: 0 auto;
  position: absolute;
  left: 94px;
  top: 95px;
}

#w_section01 .inner .box {
  position: absolute;
  border: 1px solid #ccd0d8;
  transition: all 1s;
}

#w_section01 .inner .box01 {
  left: 0;
  top: 0;
  width: 57.5%;
  height: 33%;
  z-index: 10000;
  overflow: hidden;
  cursor: pointer;
}

#w_section01 .inner .box01.on {
  width: 66.5%;
  height: 50%;
}

#w_section01 .inner .box02 {
  right: 0;
  top: 0;
  width: 42.3%;
  height: 66.6%;
  z-index: 10000;
  overflow: hidden;
  cursor: pointer;
}

#w_section01 .inner .box02.on {
  width: 50%;
  height: 85%;
}

#w_section01 .inner .box03 {
  /*width: 14.9%;*/
  /*height: 33.9%;*/
  width: 14.9%;
  height: 33.9%;
  left: 737px;
  top: 262px;
  border: 0px solid;
  z-index: 1000;
  overflow: hidden;
  cursor: pointer;
}

#w_section01 .inner .box03.on {
  width: 28%;
  height: 50%;
  /*left:676px;*/
  /*top:181px;*/
}

#w_section01 .inner .box03 > div:nth-child(1) {
  transition: all 0.5s;
}

#w_section01 .inner .box03.on > div:nth-child(1) {
  opacity: 0;
  z-index: -1;
}

#w_section01 .inner .box03 > div:nth-child(2) {
  transition: all 2s;
}

#w_section01 .inner .box03.on > div:nth-child(2) {
  opacity: 1;
  z-index: 99999;
}

#w_section01 .inner .box04 {
  left: 0;
  bottom: 0;
  width: 42.3%;
  height: 66.6%;
  z-index: 10000;
  overflow: hidden;
  cursor: pointer;
}

#w_section01 .inner .box04.on {
  width: 50%;
  height: 85%;
}

#w_section01 .inner .box05 {
  right: 0;
  bottom: 0;
  width: 57.5%;
  height: 33%;
  z-index: 10000;
  overflow: hidden;
}

#w_section01 .inner .box05.on {
  width: 66.5%;
  height: 50%;
}

#w_section01 .inner .box > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 1s;
  opacity: 1;
  z-index: 999999999;
  position: relative;
}

#w_section01 .inner .box > div:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 1s;
}

#w_section01 .inner .box:hover > div:nth-child(2) {
  opacity: 1;
  z-index: 9999;
}

#w_section02 {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#w_section02 .inner {
  width: 1732px;
  height: 790px;
  display: flex;
  justify-content: center;
}

#w_section02 .inner .se02_slide01 {
  width: 865px;
  height: 790px;
}

#w_section02 .inner .se02_slide01 .slide_list {
  width: 865px;
  height: 790px;
}

#w_section02 .inner .se02_slide02 {
  width: 865px;
  height: 790px;
}

#w_section02 .se02_slide02 .slide_list {
  width: 865px;
  height: 790px;
}

#w_section02 .se02_slide02 .group {
  width: 790px;
  margin-left: 105px;
  margin-top: 190px;
  align-self: center;
}

#w_section02 .se02_slide02 .slide_list .text01 {
  width: 171px;
  height: 19px;
  overflow: hidden;
  margin-bottom: 50px;
}

#w_section02 .se02_slide02 .slide_list .text01 > img {
  transition: all 1s 2s;
  transform: translateY(100%);
}

#w_section02 .se02_slide02 .slide_list.slick-current .text01 > img {
  transform: translateY(0);
}

#w_section02 .se02_slide02 .slide_list .text02_1 {
  width: 488px;
  height: 45px;
  overflow: hidden;
  margin-bottom: 36px;
}

#w_section02 .se02_slide02 .slide_list .text02_2 {
  width: 376px;
  height: 45px;
  overflow: hidden;
  margin-bottom: 60px;
}

#w_section02 .se02_slide02 .slide_list .text03 {
  width: 613px;
  height: 80px;
  overflow: hidden;
  margin-bottom: 80px;
}

#w_section02 .se02_slide02 .slide_list .text04 {
  width: 632px;
  height: 47.5px;
  overflow: hidden;
}

#w_section02 .se02_slide02 .slide_list .text05_2 {
  width: 522px;
  height: 56px;
  overflow: hidden;
  margin-bottom: 60px;
}

#w_section02 .se02_slide02 .slide_list .text07 {
  width: 588px;
  height: 48px;
  overflow: hidden;
  margin-bottom: 38px;
}

#w_section02 .se02_slide02 .slide_list .text08 {
  width: 650px;
  height: 46px;
  overflow: hidden;
}

#w_section02 .se02_slide02 .slide_list .group > div > img {
  transform: translateY(100%);
  transition: all 1s 1s;
}

#w_section02 .se02_slide02 .slide_list .group .text02_1 > img {
  transition-delay: 1.5s;
}

#w_section02 .se02_slide02 .slide_list .group .text02_2 > img {
  transition-delay: 2s;
}

#w_section02 .se02_slide02 .slide_list .group .text03 > img {
  transition-delay: 2.5s;
}

#w_section02 .se02_slide02 .slide_list .group .text04 > img {
  transition-delay: 2.5s;
}

#w_section02 .se02_slide02 .slide_list .group .text05_2 > img {
  transition-delay: 2s;
}

#w_section02 .se02_slide02 .slide_list .group .text07 > img {
  transition-delay: 2.5s;
}

#w_section02 .se02_slide02 .slide_list .group .text08 > img {
  transition-delay: 2.5s;
}

#w_section02 .se02_slide02 .slide_list.slick-current .group > div > img {
  transform: translateY(0);
}

#w_section02 .se02_slide02 .slide_list .text03 {
  margin-bottom: 30px;
}

#w_section03 {
  background: black;
}

#w_section03 .inner1 {
  margin-top: 200px;
  margin-left: 250px;
}

#w_section03 .text01 {
  margin-bottom: 60px;
  opacity: 0;
  transform: translateY(19px);
  transition: all 1s 0.3s;
}

#w_section03.on .text01 {
  margin-bottom: 60px;
  opacity: 1;
  transform: translateY(0);
}

#w_section03 .text02 {
  margin-bottom: 60px;
  opacity: 0;
  transform: translateY(56px);
  transition: all 1s 0.5s;
}

#w_section03.on .text02 {
  opacity: 1;
  transform: translateY(0);
}

#w_section03 .inner2 {
  height: 100vh;
}

#w_section03 .group1 {
  perspective: 1600px;
  position: relative;
}

#w_section03 .box01 {
  border: 1px solid #ccd0d8;
  transform: rotateX(-10deg) translateZ(-5px) translate(-50%, 0);
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1505px;
}

#w_section03 .box02 {
  border: 1px solid #ccd0d8;
  transform: rotateX(-10deg) translateZ(-5px) translate(-50%, 0);
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
  top: 110px;
  width: 1505px;
}

#w_section03 .box03 {
  border: 1px solid #ccd0d8;
  transform: rotateX(-10deg) translateZ(-5px) translate(-50%, 0);
  transform-style: preserve-3d;
  position: absolute;
  top: 220px;
  left: 50%;
  width: 1505px;
}

#w_section03 .box04 {
  border: 1px solid #ccd0d8;
  transform: rotateX(-10deg) translateZ(-5px) translate(-50%, 0);
  transform-style: preserve-3d;
  position: absolute;
  top: 330px;
  left: 50%;
  width: 1505px;
}

#w_section03 .group1 > div:hover {
  transition: all 1s;
  transform: rotateX(0deg) translateZ(0px) translate(-50%, -40%);
  border: none;
}

#w_section03 .group1 .box02 > div:hover {
  transition: all 1s;
  transform: translate(-50%, -10%);
  border: none;
}

#w_section03 .group1 .box03 > div:hover {
  transition: all 1s;
  transform: translate(-50%, -20%);
  border: none;
}

#w_section03 .group1 .box04 > div:hover {
  transition: all 1s;
  transform: translate(-50%, -23%);
  border: none;
}

#w_section03 .group1 > div:hover > div:nth-child(1) {
  transition: all 1s;
  opacity: 0;
}

#w_section03 .group1 > div > div:nth-child(2) {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 1s;
}

#w_section03 .group1 > div:hover > div:nth-child(2) {
  opacity: 1;
}

#w_section03 .group1 div:nth-child(2) > div:hover > {
  transform: rotateX(0deg) translateZ(0px) translate(-50%, -60%);
}

#w_section04 {
  background: black;
  display: flex;
  align-items: flex-end;
  align-content: center;
  flex-wrap: wrap;
}

#w_section04 .inner0 {
  height: 130px;
  width: 100vw;
  margin-top: 180px;
}

#w_section04 .text01 {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s 0.3s;
}

#w_section04.on .text01 {
  opacity: 1;
  transform: translateY(0);
}

#w_section04 .inner1 {
  display: flex;
  padding-bottom: 95px;
  width: 1730px;
  border-top: 1px solid #fff;
  margin: 0 auto;
}

#w_section04 .inner1 > div {
  transition: all 1s;
  flex: 0.5;
  overflow: hidden;
}

#w_section04 .inner1 > div.on {
  flex: 1;
}

#w_section04 .inner01 {
  display: flex;
  /*width: 870px;*/
  height: 570px;
  position: relative;
  flex: 1;
  border-right: 1px solid #fff;
}

#w_section05 .circle1 {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translate(-50%);
}

#w_section04 .group1 {
  padding-top: 54px;
  margin-left: 110px;
  display: flex;
  position: relative;
}

#w_section04 .inner1 > div .group1 > div:nth-child(1) {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s;
}
#w_section04 .inner1 > div.on .group1 > div:nth-child(1) {
  opacity: 1;
  transform: translateX(0);
}

#w_section04 .inner1 > div .group1 .text0 {
  position: absolute;
  left: -50px;
  top: 0;
  padding-top: 54px;
  transition: all 1s;
}

#w_section04 .inner1 > div.on .group1 .text0 {
  opacity: 0;
}

#w_section04 .group1 .text1 {
  margin-bottom: 72px;
}

#w_section04 .group1 .text3 {
  position: absolute;
  bottom: 80px;
}

#w_section04 .inner01 .img1 {
  position: absolute;
  bottom: 0;
  right: 66px;
}

#w_section04 .inner1 .img1 {
  transform: translateX(140px);
  transition: all 1s;
}

#w_section04 .inner1 > div.on .img1 {
  transform: translateX(0);
}

#w_section04 .inner02 {
  display: flex;
  width: 870px;
  height: 570px;
  position: relative;
  flex: 0.5;
  border-right: 1px solid #fff;
}

#w_section05 .circle2 {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(-50%);
}

#w_section04 .inner02 .img1 {
  position: absolute;
  bottom: 0;
  right: 40px;
}

#w_section04 .inner03 {
  display: flex;
  width: 870px;
  height: 570px;
  position: relative;
  flex: 0.5;
}

#w_section04 .inner03 .img1 {
  position: absolute;
  bottom: 5px;
  right: 110px;
}

#w_section05 {
  background: black;
  display: flex;
  align-items: center;
}

#w_section05 .se05_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1730px;
  height: 790px;
  margin: 0 auto;
  position: relative;
}

#w_section05 .se05_inner .group0 {
  width: 100%;
  height: 100%;
  display: flex;
}

#w_section05 .se05_inner .group0 > section {
  flex: 1;
  height: 100%;
  position: relative;
  transition: all 1s;
}

#w_section05 .se05_inner .group0 > section.on {
  flex: 2;
}

#w_section05 .won {
  background: #d2def1;
}

#w_section05 .spirit {
  background: #000000;
}

#w_section05 .won .before {
  position: absolute;
  left: 0;
  top: 0;
  height: 790px;
  width: 866px;
  transition: all 1s;
}

#w_section05 .se05_inner .group0 > section.on .before {
  opacity: 0;
}

#w_section05 .se05_inner .group0 > section.off .before {
  opacity: 0;
}

#w_section05 .spirit .before {
  position: absolute;
  left: 0;
  top: 0;
  height: 790px;
  width: 866px;
  transition: all 1s;
}

#w_section05 .main_img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: 9999;
  transition: all 1s;
}

#w_section05 .group0 > section.on .main_img {
  transform: translate(-50%, -50%) scale(1);
}

#w_section05 .won .before .text1 {
  position: absolute;
  left: 214px;
  top: 185px;
}

#w_section05 .spirit .before .text1 {
  position: absolute;
  left: 188px;
  top: 185px;
}

#w_section05 .before .text1_1 {
  position: absolute;
  left: 68px;
  bottom: 62px;
}

#w_section05 .before .text1_2 {
  position: absolute;
  right: 68px;
  bottom: 62px;
}

#w_section05 .won .after {
  position: absolute;
  left: 0;
  top: 0;
  height: 790px;
  width: 1155px;
  transition: all 1s;
  opacity: 0;
}

#w_section05 .se05_inner .group0 > section.on .after {
  opacity: 1;
}

#w_section05 .narrow {
  position: absolute;
  right: 0;
  top: 0;
  height: 790px;
  width: 576px;
  background: #000000;
}

#w_section05 .spirit .circle {
  position: absolute;
  left: -16px;
  top: 380px;
}

#w_section05 .spirit .after {
  position: absolute;
  right: 0;
  top: 0;
  height: 790px;
  width: 1155px;
  transition: all 1s;
  opacity: 0;
}

#w_section05 .after .wide .won {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -52.5%);
  scale: 95%;
}

#w_section05 .after .wide .spirit {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -52.5%);
  scale: 95%;
}

#w_section05 .after .wide .text01 {
  position: absolute;
  left: 68px;
  top: 76px;
}

#w_section05 .after .wide .text02 {
  position: absolute;
  left: 68px;
  top: 215px;
}

#w_section05 .after .wide .kr {
  position: absolute;
  left: 68px;
  top: 390px;
}

#w_section05 .after .wide .vol {
  position: absolute;
  left: 68px;
  bottom: 62px;
}

#w_section05 .after .wide .img01 {
  position: absolute;
  right: 40px;
  top: 30px;
  scale: 85%;
}

#w_section05 .after .wide .en {
  position: absolute;
  right: 68px;
  top: 390px;
}

#w_section05 .after .wide .ml {
  position: absolute;
  right: 68px;
  bottom: 62px;
}

.pop {
  width: 1728px;
  height: 790px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*display: none;*/
  z-index: -1;
  opacity: 0;
  transition: all 1s;
}
.pop .box1 {
  height: 787.5px;
  width: 1728px;
  overflow: hidden;
  position: absolute;
  top: 1.5px;
  left: 0;
}

.pop.on {
  opacity: 1;
  z-index: 999999999;
}

.pop .close {
  position: absolute;
  right: 100px;
  top: 80px;
  cursor: pointer;
}
